namespace: ffisa-dev
name: oc-frontend
image: 
  repository: fabricioph2/oc-frontend
  tag: 6
replicas: 1
resources:
   requests:
     cpu: "100m"
     memory: "128Mi"
   limits:
     cpu: "200m"
     memory: "256Mi"

service:
  enabled: true
  port: 8080
  targetPort: 8080

route:
  enabled: true
  host: ""

statefulset:
  enabled: false